/C#/client/.vs
/C#/client/Properties
/C#/client/bin
/C#/client/obj
/C#/server/myvnc_server/cache/my_vnc/1
/C#/client/packages
/C#/server/myvnc_server/Bin
/C#/server/myvnc_server/packages
/C#/server/myvnc_server/.vs
